body{
  text-align: center;
}
.choice-button{
height: 100px;
width: 100px;
border: none;
border-radius: 70%;
cursor: pointer;
margin: 10px;
background-color: rgb(225, 212, 236);
}
.choice-image{
  height: 100px;
}

h3{

  color: blueviolet;
  font-family: sans-serif;
}